@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "utilities/variables.scss";
* {margin: 0px; padding: 0px;}
body {
    /*
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    */
}
body {
    background: $gradiente-Algodon;
    main {
        section {
            display: flex;
            margin: 30px auto 0 auto;
            padding: 50px;
            width: 80%;
            height: 700px;
            /* efecto glassmorphism */
            background: rgba(255, 255, 255, 0.19);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.3px);
                -webkit-backdrop-filter: blur(4.3px);
            border: 1px solid rgba(255, 255, 255, 0.64);
            .objetivos {
                width: 20%;
                margin: 0 30px 0 0;
                padding: 20px 0 0 20px;
                /* efecto glassmorphism */
                background: rgba(255, 255, 255, 0.19);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4.3px);
                    -webkit-backdrop-filter: blur(4.3px);
                border: 1px solid rgba(255, 255, 255, 0.64);
                .tituloObjetivos {
                    h2 {}
                    p {}
                }
                .pointsObjetivos {
                    .objetivoUno {
                        .imagenObjetivo {
                            img {}
                        }
                        p {}

                    }
                    .objetivoDos {
                        .imagenObjetivo {
                            img {}
                        }
                        p {}

                    }
                    .objetivoTres {
                        .imagenObjetivo {
                            img {}
                        }
                        p {}

                    }
                    .objetivoCuatro {
                        .imagenObjetivo {
                            img {}
                        }
                        p {}

                    }
                    .objetivoCinco {
                        .imagenObjetivo {
                            img {}
                        }
                        p {}

                    }
                    .objetivoSeis {
                        .imagenObjetivo {
                            img {}
                        }
                        p {}

                    }
                    .objetivoSiete {
                        .imagenObjetivo {
                            img {}
                        }
                        p {}

                    }
                }
            }
            .planeadorSemanal {
                width: 80%;
                padding: 20px 0 0 20px;
                /* efecto glassmorphism */
                background: rgba(255, 255, 255, 0.19);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4.3px);
                    -webkit-backdrop-filter: blur(4.3px);
                border: 1px solid rgba(255, 255, 255, 0.64);
                .tituloPlanificador {
                    h1 {}
                    p {}
                }
                .actividadesPlanificador {
                    display: flex;
                    .lunes {
                        .actividad {}
                        .actL1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actL2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actL3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .martes {
                        .actM1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actM2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actM3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .miercoles {
                        .actW1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actW2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actW3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .jueves {
                        .actJ1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actJ2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actJ3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .viernes {
                        .actV1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actV2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actV3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .sabado {
                        .actS1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actS2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actS3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .domingo {
                        .actD1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actD2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actD3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                }
            }
        }
    }
}