@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "utilities/variables.scss";
* {margin: 0px; padding: 0px;}
body {
    /*
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    */
}
body {
    background: $gradiente-Algodon;
    main {
        section {
            display: flex;
            margin: 30px auto 0 auto;
            padding: 50px;
            width: 80%;
            height: 700px;
            /* efecto glassmorphism */
            background: rgba(255, 255, 255, 0.19);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.3px);
                -webkit-backdrop-filter: blur(4.3px);
            border: 1px solid rgba(255, 255, 255, 0.64);
            .objetivos {
                width: 20%;
                margin: 0 30px 0 0;
                padding: 20px 0 0 20px;
                /* efecto glassmorphism */
                background: rgba(255, 255, 255, 0.19);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4.3px);
                    -webkit-backdrop-filter: blur(4.3px);
                border: 1px solid rgba(255, 255, 255, 0.64);
                .tituloObjetivos {
                    h2 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 800;
                        font-size: 40px;
                    }
                    p {
                        font-family: 'Merriweather', serif; 
                        font-weight: 500;
                        margin-top: 10px;
                    }
                }
                .pointsObjetivos {
                    .objetivoUno {
                        display: flex;
                        align-items: center;
                        margin-top: 30px;
                        .imagenObjetivo {
                            img {}
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            margin-left: 10px;
                        }

                    }
                    .objetivoDos {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .imagenObjetivo {
                            img {}
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            margin-left: 10px;
                        }

                    }
                    .objetivoTres {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .imagenObjetivo {
                            img {}
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            margin-left: 10px;
                        }

                    }
                    .objetivoCuatro {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .imagenObjetivo {
                            img {}
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            margin-left: 10px;
                        }

                    }
                    .objetivoCinco {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .imagenObjetivo {
                            img {}
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            margin-left: 10px;
                        }

                    }
                    .objetivoSeis {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .imagenObjetivo {
                            img {}
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            margin-left: 10px;
                        }

                    }
                    .objetivoSiete {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .imagenObjetivo {
                            img {}
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            margin-left: 10px;
                        }

                    }
                }
            }
            .planeadorSemanal {
                width: 80%;
                padding: 20px 0 0 20px;
                /* efecto glassmorphism */
                background: rgba(255, 255, 255, 0.19);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4.3px);
                    -webkit-backdrop-filter: blur(4.3px);
                border: 1px solid rgba(255, 255, 255, 0.64);
                .tituloPlanificador {
                    h1 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 800;
                        font-size: 40px;
                    }
                    p {
                        font-family: 'Merriweather', serif; 
                        font-weight: 500;
                        margin-top: 10px;
                    }
                }
                .actividadesPlanificador {
                    display: flex;
                    margin-top: 30px;
                    justify-content: space-around;
                    .lunes {
                        .actividad {}
                        .actL1 {
                            width: 100px;
                            height: 100px;
                             /* efecto glassmorphism */
                            background: rgba(255, 255, 255, 0.19);
                            border-radius: 16px;
                            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                            backdrop-filter: blur(4.3px);
                                -webkit-backdrop-filter: blur(4.3px);
                            border: 1px solid rgba(255, 255, 255, 0.64);
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 800;
                                    color: rgb(56, 56, 56);
                                }
                                .p2 {
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 400;
                                    color: rgb(56, 56, 56); 
                                }
                            }
                        }
                        .actL2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actL3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .martes {
                        .actM1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actM2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actM3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .miercoles {
                        .actW1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actW2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actW3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .jueves {
                        .actJ1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actJ2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actJ3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .viernes {
                        .actV1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actV2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actV3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .sabado {
                        .actS1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actS2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actS3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                    .domingo {
                        .actD1 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actD2 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                        .actD3 {
                            .actividadName {}
                            .tarjetaHorario {
                                .p1 {}
                                .p2 {}
                            }
                        }
                    }
                }
            }
        }
    }
}